.container {
  width: 60rem;
  margin: 0 auto;
}

h1 {
  text-align: center;
  margin-top: 40px;
}

.llama-pic {
  text-align: center;
}

.llama {
  color: red;
  font-size: 1.5rem;
}
img {
  width: 400px;
  border-radius: 15px;
}

.video {
  text-align: center;
}

iframe {
  margin: 0 auto;
}

footer {
  color: #8a8a8a;
  text-align: center;
  margin: 30px;
}
