<div class="container">
  <h1>My Favourite Animal</h1>

  <div class="llama-pic">
    <img src="assets/images/llama.jpeg" alt="funny llama" />
    <figcaption>
      Funny
      <span class="llama">llama</span>
    </figcaption>
  </div>
  <p>
    The <span class="llama">llama</span> (/ˈlɑːmə/; Spanish pronunciation:
    [ˈʎama]) (Lama glama) is a domesticated South American camelid, widely used
    as a meat and pack animal by Andean cultures since the Pre-Columbian era.
    Llamas are very social animals and live with others as a herd. Their wool is
    very soft and lanolin-free. <span class="llama">Llamas</span> can learn
    simple tasks after a few repetitions. When using a pack, they can carry
    about 25 to 30% of their body weight for 8 to 13 km (5–8 miles).[2] The name
    llama (in the past also spelled "lama" or "glama") was adopted by European
    settlers from native Peruvians.[3]
  </p>

  <h2>Some interesting things about <span class="llama">llamas</span></h2>
  <ul>
    <li>
      They make excellent guards for herds of small animals. They are very
      social and will 'adopt' a group of sheep or goats as their own herd
    </li>
    <li>They are smart</li>
    <li><span class="llama">Llamas</span> are the camel's hippie cousins</li>
    <li>One of the ways they communicate is by humming</li>
    <li>They are diabetic — sort of</li>
  </ul>

  <h2>
    For more information, click
    <a
      href="https://blogs.oregonstate.edu/animalconnection/2012/01/19/five-cool-things-about-llamas/"
      >here</a
    >
  </h2>

  <h2 class="video">Funny video of <span class="llama">llamas</span></h2>
  <iframe
    width="560"
    height="315"
    src="https://www.youtube.com/embed/Tq_MdFz7mlE"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>

  <footer>Copyright &copy; 2020 The Llama Productions, Ecuador</footer>
</div>
